<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dc.mapper.CrossBorderTransferRecordDOMapper">
    <resultMap id="BaseResultMap" type="com.zl.dc.pojo.CrossBorderTransferRecord">
        <id column="transfer_record_id" jdbcType="INTEGER" property="transferRecordId"/>
        <result column="transfer_record_uuid" jdbcType="CHAR" property="transferRecordUuid"/>
        <result column="transfer_record_amount_from" jdbcType="DECIMAL" property="transferRecordAmountFrom"/>
        <result column="transfer_record_amount_to" jdbcType="DECIMAL" property="transferRecordAmountTo"/>
        <result column="currency_type" jdbcType="CHAR" property="currencyType"/>
        <result column="transfer_record_time" jdbcType="TIMESTAMP" property="transferRecordTime"/>
        <result column="transfer_note" jdbcType="VARCHAR" property="transferNote"/>
        <result column="transfer_status" jdbcType="TINYINT" property="transferStatus"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="bank_out_card" jdbcType="CHAR" property="bankOutCard"/>
        <result column="in_card_user_name" jdbcType="VARCHAR" property="inCardUserName"/>
        <result column="bank_in_card" jdbcType="CHAR" property="bankInCard"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        transfer_record_id, transfer_record_uuid, transfer_record_amount_from,transfer_record_amount_to,
        transfer_record_time, currency_type, transfer_note, transfer_status, user_id, bank_out_card,
        in_card_user_name, bank_in_card, gmt_create, gmt_modified
    </sql>
    <sql id="View_Column_List">
        transfer_record_uuid, transfer_record_amount_from,transfer_record_amount_to,
        transfer_record_time, currency_type, transfer_note, transfer_status, bank_out_card,
        in_card_user_name, bank_in_card
    </sql>

    <select id="selectByUserIdAndMonthAndCard" resultMap="BaseResultMap">
        SELECT
        <include refid="View_Column_List"/>
        FROM `cross_border_transfer_record`
        WHERE user_id = #{userId}
        <if test="bankCard!=''">
            AND bank_out_card = #{bankCard}
        </if>
        AND transfer_record_time BETWEEN #{startDay} AND #{endDay}
        ORDER BY transfer_record_time DESC
        LIMIT #{index},#{limit}
    </select>
</mapper>